<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.1" targetFramework="net461" />
  <package id="HBD.Data.Comparisions" version="1.0.1" targetFramework="net461" />
  <package id="HBD.Framework" version="1.0.12" targetFramework="net461" />
  <package id="HBD.Framework.Data.Excel" version="1.0.1" targetFramework="net461" />
</packages>